data/
images*/
images.zip
data_boat/
extracted_image/
dgx_gpu_flat.tar
dgx_gpu.sqsh
detr-resnet-50-finetuned-20-epochs-boat-dataset/
output/
visualize_anno.jpg
out.jpg

.catkin_tools/
build/
devel/
install/
logs/

.cache
results.txt
__pycache__/
output.png
output.mp4
source_videos/
output_videos/

detr-*/
git_log_long.txt
git_log_short.txt

ros1_ws/src/detr_inference/model

bags/
train-*.sh
eval-*.sh
inference-*.sh